<section class="dg-guide__content grid-container-desktop">
  <div>
    [placeholder Guide Content Header]
    {# NOT-MIGRATED
    {{ partial "core/guides/guide-content-header.html" . }}
    #}
  <section class="grid-row tablet-lg:grid-gap-4">
     <div class="grid-col-12 tablet:grid-col-9">
       <div class="dg-guide__content-body usa-prose">  
          {{ content }}
       </div>
     </div>
     <div class="dg-sidebar grid-col-12 tablet:grid-col-3">
       <div class="dg-guide__content-body usa-prose">
        {% if node.field_hcd_glossary.value %}
          {% set entity = drupal_entity('block', 'digital_gov_views_block__hcd_glossary_block_1', check_access=false) %}
          {{ entity }}
        {% endif %}
      </div>
     </div>
 </section>

<section class="dg-guide__footer grid-container-desktop">
  [placeholder Guide Prev-Next]
  {# NOT-MIGRATED
  {{ partial "core/guides/guide-prev-next.html" . }}
  #}
  {# NOT-MIGRATED
  {{ include("@digital_gov/partials/attribution.html.twig") }}
  #}
  {{ include('@digital_gov/partials/touchpoints-form.html.twig') }}
</section>
