{#
  # Displays a list of authors, either inline or in a list

  EXPECTED VARIABLES:
    - inline: boolean
    - authors: render array of author nodes

#}
<div class="authors-list {{ inline ? 'authors-list--inline' : '' }}">
  {% for author in authors|children %}
    <div class="author usa-media-block">
      {{ render_var({'#theme': 'author_image', '#author': author}) }}
      {% set author_title = author['#node'].title.value ?? author['#entity'].title.value %}
      <div class="usa-media-block__body">
        <a class="author__name"
           href="{{ drupal_url('node/' ~ author['#node'].nid.value) }}"
           title="Posts by {{ author['#node'].title.value }}"
           rel="author"
           aria-label="Read more articles by {{ author['#node'].title.value }}"
        >{{ author_title  }}</a
        >
      </div>
    </div>
  {% endfor %}
</div>
