<div class="dg-card-legislation">
  <div class="usa-card__container usa-card-group usa-card--flag">
    {% if title %}
    <div class="usa-card__header">
      <div class="dg-featured-resource__kicker">Related Policy</div>
      <h2 class="usa-card__heading">
        {{ title }}
      </h2>
    </div>
    {% endif %}
    <div class="usa-card__media">
      <div class="usa-card__img">
        <img
          src="/{{ active_theme_path() }}/static/digitalgov/img/legislative-stamp-card-logo-600.png"
          alt="{{ title }}"
        />
      </div>
    </div>
    {% if description %}
    <div class="usa-card__body">
      <p>
        {{ description }}
      </p>
    </div>
    {% endif %}
    {% if url %}
    <div class="usa-card__footer">
      <a href="{{ url }}" class="usa-button">Explore policy</a>
    </div>
    {% endif %}
  </div>
</div>
