{# ======================================
Displays a vertical list of primary CoP's on the sidebar on event pages.
  ======================================
#}

{% if drupal_view_result('sidebar_communities', 'block_1') is not empty %}
  <article class="dg-promos dg-related-communities">
    <h3 class="dg-promos__heading">Join a Community</h3>
      {{ drupal_view('sidebar_communities', 'block_1') }}
  </article>
{% endif %}

{% if mainCommunities %}
  <article class="dg-promos dg-related-communities">
    <h3 class="dg-promos__heading">Join a Community</h3>
    <ul class="dg-promos__list">
      {# range . #}
        <li class="promo dg-promos__list-item">
          <a
            href="{{ Permalink }}?promo"
            title="Visit {{ Title }} community page"
            class="dg-promos__link"
          >
            {{ title }}
          </a>
        </li>
      {# endrange #}
    </ul>
    <footer class="dg-promos__footer">
      {# $communityCount := len (where $.Site.RegularPages "Section" "communities") #}
      <a
        href="{{ 'communities' }}"
        class="dg-promos__more-link dg-more-link"
      >
        <span> See all {{ communityCount }} communities </span>
        <svg
          class="usa-icon dg-icon dg-icon--small margin-bottom-05"
          aria-hidden="true"
          focusable="false"
        >
          <use
            xlink:href="/{{ active_theme_path() }}/static/uswds/img/sprite.svg#arrow_forward"
          ></use>
        </svg>
      </a>
    </footer>
  </article>
{% endif %}
