{% set nodeType = content_reference.label | title %}

<div class="dg-featured-resource">
<a href="{{ url }}" class="dg-featured-resource__body">
	<div class="dg-featured-resource__text">
		<p class="dg-featured-resource__kicker">
				{{ 'Featured Resource'|t }}
		</p>
		{% if title %}
			<h2 class="dg-featured-resource__text-title">
				{{ title }}
			</h2>
		{% endif %}
			<p class="dg-featured-resource__text-description">
				{{ summary }}
			</p>
	</div>
</a>
</div>


{{ node | json_encode(constant('JSON_PRETTY_PRINT')) }}



