<div class="note comment card-prompt">
  {% if intro %}
    <div class="intro">
      <div class="icon">
        <svg class="usa-icon dg-icon dg-icon--standard margin-bottom-05" aria-hidden="true" focusable="false">
          <use href="/{{ active_theme_path() }}/static/uswds/img/sprite.svg#comment"></use>
        </svg>
      </div>
      {% set intro = {
        '#type': 'processed_text',
        '#text': intro.value,
        '#format': intro.format,
      } %}
      <p>{{ intro }}</p>
    </div>
  {% endif %}

  {% if prompt.value %}
    <div class="prompt">
      {% set prompt = {
        '#type': 'processed_text',
        '#text': prompt.value,
        '#format': prompt.format,
      } %}
<blockquote>
      {{ prompt }}
</blockquote>

    </div>
  {% endif %}

  {# NOT-MIGRATED
    This was what was here before, when we migrate the partial, use it.
    {{ partial "core/usa-button.html" (dict "href" (.Get "button-url") "text" (.Get "button-text")) }}
  #}
  <a class="usa-button usa-button--outline" href="{{ url }}">
    {{ text }}
  </a>
</div>
