	<div class="note comment card-prompt">
	{% if intro %}
		<div class="intro">
			<div class="icon">
				<svg class="usa-icon dg-icon dg-icon--standard margin-bottom-05" aria-hidden="true" focusable="false">
        <use xlink:href="{{ drupal_url(theme_path ~ '/static/digitalgov/img/sprite.svg#comment' ) }}"></use>
				</svg>
			</div>
		<p>{{ intro }}</p>
	</div>
  {% endif %}

{% if prompt %}
<div class="prompt">
	{{ prompt }}
</div>
{% endif %}

<a class="usa-button usa-button--outline" href="{{ url }}">
	{{ text }}
</a>
</div>
