{% if checklist %}
  {# spaceless is required here so because multivalue fields cannot be made
  required, so we capture as a set and check if its empty #}
  {% set checklist_lis %}{% apply spaceless %}
    {% for list_item in checklist|slice(0, -1) %}
      {% if list_item.checkbox %}
        <li class="dg-checklist__item">
          {# {{ list_item | json_encode(constant('JSON_PRETTY_PRINT')) }} #}
          {% set build_checkbox = {
            '#type': 'processed_text',
            '#text': list_item.checkbox,
            '#format': 'single_inline_html',
          } %}
          {{ build_checkbox }}
          {% if list_item.sublist %}
            <ul class="dg-checklist__sublist">
              {% set sublist = list_item.sublist|split('\r\n') %}
              {# ||||||||||||||{{ sublist | json_encode(constant('JSON_PRETTY_PRINT')) }}||||||||||||| #}
              {% for sublist_item in sublist %}
                <li class="dg-checklist__sublist-item">
                  {% set build_sublist_item = {
                    '#type': 'processed_text',
                    '#text': sublist_item,
                    '#format': 'multiline_inline_html',
                  } %}
                  {{ build_sublist_item }}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  {% endapply %}{% endset %}
{% endif %}

{% if checklist_lis %}
  <ul class="dg-checklist">
    {{ checklist_lis }}
  </ul>
{% endif %}
