{% set noteType = form.type.value %}
{% set icons = {
  'activity': 'assessment',
  'action': 'campaign',
  'alert':'report',
  'comment': 'comment',
  'video': 'fast_forward',
  'join': 'groups',
  'note': 'notifications',
  'disclaimer': 'info',
} %}

{% set icon = icons[noteType] %}
{% set iconPath = 'uswds/img/sprite.svg#' ~ icon %}

<article class="dg-note {{ noteType? 'dg-note--' ~ variant|lower : '' }}">
	<h4 class="dg-note__heading">
		<svg class="dg-note__icon usa-icon dg-icon dg-icon--large" aria-hidden="true" focusable="false">
			<use xlink:href="{{ $iconPath | relURL }}"></use>
		</svg>
		{{ if $variant }}
			{{ if eq noteType "join" }}
				Who can join?
			{{ else }}
				{{ noteType | title }}
			{{ end }}
		{{ else }}
			Note
		{{ end }}
	</h4>
	{{ if eq noteType "disclaimer" }}
      All references to specific brands, products, and/or companies are used only
      for illustrative purposes and do not imply endorsement by the U.S. federal
      government or any federal government agency.
	{{ else }}
		{{ text }}
	{{ end }}
</article>
