{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
 #}
{# NOT-MIGRATED
# USWDS Identifier component data
# See block--site-wrapper-usa-identifier.html.twig for the template
identifier_data:
  aria_label: Agency identifier
  domain: Digital.gov
  site_url: https://digital.gov/
  parent_agency:
    name: U.S. General Services Administration
    acronym: GSA
    logo: img/gsa-logo-w100.png
    url: https://www.gsa.gov
  required_links:
    label: Important links
    links:
      - label: About GSA
        url: https://www.gsa.gov/about-us
      - label: Accessibility statement
        url: https://www.gsa.gov/website-information/accessibility-statement
      - label: FOIA requests
        url: https://www.gsa.gov/reference/freedom-of-information-act-foia
      - label: No FEAR Act data
        url: https://www.gsa.gov/reference/civil-rights-programs/the-no-fear-act
      - label: Office of the Inspector General
        url: https://www.gsaig.gov/
      - label: Performance reports
        url: https://www.gsa.gov/reference/reports/budget-performance
      - label: Privacy policy
        url: https://www.gsa.gov/website-information/website-policies
  usagov:
    label: U.S. government information and services
    description: Looking for U.S. government information and services?
    link:
      label: Visit USA.gov
      url: https://www.usa.gov/
#}

<!-- USWDS Identifier component -->
<!-- Data is stored in /data/usa_identifier.yml -->

<div class="usa-identifier">
  <section
      class="usa-identifier__section usa-identifier__section--masthead"
      aria-label="Agency Identifier"
  >
    <div class="usa-identifier__container">
      <div class="usa-identifier__logos">
        <a href={{ site_name }} class="usa-identifier__logo">
          <img
              class="usa-identifier__logo-img"
              src={{ src }}
              alt="GSA logo"
              role="img"
          />
        </a>
      </div>
      <section
          class="usa-identifier__identity"
          aria-label="Agency description"
      >
        <p class="usa-identifier__identity-domain">{{ domain }}</p>
        <p class="usa-identifier__identity-disclaimer">
          An official website of the
          {#<a href="{{ .parent_agency.url }}">{{ .parent_agency.name }}</a>#}
        </p>
      </section>
    </div>
  </section>
  {#<nav
      class="usa-identifier__section usa-identifier__section--required-links"
      aria-label="Important links"
  >
    <div class="usa-identifier__container">
      <ul class="usa-identifier__required-links-list">
        {{ range .required_links.links }}
        <li class="usa-identifier__required-links-item">
          <a
              href="{{ .url }}"
              class="usa-identifier__required-link usa-link"
          >
            {{ .label }}
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
  </nav>
  <section
      class="usa-identifier__section usa-identifier__section--usagov"
      aria-label="{{ .usagov.label }}"
  >
    <div class="usa-identifier__container">
      <div class="usa-identifier__usagov-description">
        {{ .usagov.description }}
      </div>
      <a href="{{ .usagov.link.url }}" class="usa-link">
        {{ .usagov.link.label }}
      </a>
    </div>
  </section>
</div>
#}
