{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
 #}
<section
      class="usa-banner gov-banner"
      aria-label="{{ 'Official website of the United States government'|t }}"
>
  <div class="usa-accordion">
    <header class="usa-banner__header">
      <div class="usa-banner__inner">
        <div class="grid-col-auto">
          <img
                  aria-hidden="true"
                  class="usa-banner__header-flag"
                  src="{{ drupal_url(theme_path ~ '/static/uswds/img/us_flag.svg') }}"
                  alt=""
                  width="16"
                  height="11"
          />
        </div>
        <div class="grid-col-fill tablet:grid-col-auto" aria-hidden="true">
          <p class="usa-banner__header-text">
            {{ 'An official website of the United States government'|t }}
          </p>
          <p class="usa-banner__header-action">{{ 'Here’s how you know'|t }}</p>
        </div>
        <button
                type="button"
                class="usa-accordion__button usa-banner__button"
                aria-expanded="false"
                aria-controls="gov-banner-default-default"
        >
          <span class="usa-banner__button-text">{{ 'Here’s how you know'|t }}</span>
        </button>
      </div>
    </header>
    <div
            class="usa-banner__content usa-accordion__content"
            id="gov-banner-default-default"
    >
      <div class="grid-row grid-gap-lg">
        <div class="usa-banner__guidance tablet:grid-col-6">
          <img
                  class="usa-banner__icon usa-media-block__img"
                  src="{{ drupal_url(theme_path ~ '/static/uswds/img/icon-dot-gov.svg') }}"
                  role="img"
                  alt=""
                  aria-hidden="true"
          />
          <div class="usa-media-block__body">
            <p>
              <strong>{{ 'Official websites use .gov'|t }}</strong>
              <br />
              {{ 'A <strong>.gov</strong> website belongs to an official government
              organization in the United States.'|t }}
            </p>
          </div>
        </div>
        <div class="usa-banner__guidance tablet:grid-col-6">
          <img
                  class="usa-banner__icon usa-media-block__img"
                  src="{{ drupal_url(theme_path ~ '/static/uswds/img/icon-https.svg') }}"
                  role="img"
                  alt=""
                  aria-hidden="true"
          />
          <div class="usa-media-block__body">
            <p>
              <strong>{{ 'Secure .gov websites use HTTPS'|t }}</strong><br />{{ 'A
              <strong>lock</strong>'|t }} (
              <span class="icon-lock">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="52"
                        height="64"
                        viewBox="0 0 52 64"
                        class="usa-banner__lock-image"
                        role="img"
                        aria-labelledby="banner-lock-description-default"
                        focusable="false"
                >
                  <title id="banner-lock-title-default">{{ 'Lock'|t }}</title>
                  <desc id="banner-lock-description-default">
                    {{ 'Locked padlock'|t }}
                  </desc>
                  <path
                          fill="#000000"
                          fill-rule="evenodd"
                          d="M26 0c10.493 0 19 8.507 19 19v9h3a4 4 0 0 1 4 4v28a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V32a4 4 0 0 1 4-4h3v-9C7 8.507 15.507 0 26 0zm0 8c-5.979 0-10.843 4.77-10.996 10.712L15 19v9h22v-9c0-6.075-4.925-11-11-11z"
                  />
                </svg> </span
              >) {{ 'or <strong>https://</strong> means you’ve safely connected to
              the .gov website. Share sensitive information only on official,
              secure websites.'|t }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
