{#
/**
 * @file
 * Default theme implementation for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 *
 * @ingroup themeable
 */
#}
{% set body_classes = [
  not root_path ? 'home',
] %}

<!DOCTYPE html>
<html{{ html_attributes }}>
<head>
  <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">

  <!-- Favicons & Icons -->
  {% set img_path = theme_path_absolute ~ '/static/digitalgov/img' %}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ img_path }}/apple-touch-icon.png?v=3">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ img_path }}/favicon-32x32.png?v=3">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ img_path }}/favicon-16x16.png?v=3">
  <link rel="manifest" href="{{ img_path }}/site.webmanifest?v=3">
  <link rel="mask-icon" href="{{ img_path }}/safari-pinned-tab.svg?v=3" color="#0076d6">
  <meta name="msapplication-TileColor" content="#0076d6">
  <meta name="theme-color" content="#656bd7">
  {# favicon.ico set by Drupal. File is at theme root. #}

  <!-- Bing Validation -->
  <meta name="msvalidate.01" content="A662823C2F59EB4F55F752CC752AC299" />
</head>
<body{{ attributes.addClass(body_classes) }}>
{#
  Keyboard navigation/accessibility link to main content section in
  page.html.twig.
#}
<a href="#main-content" class="visually-hidden focusable">
  {{ 'Skip to main content'|t }}
</a>
{{ page_top }}
{{ page }}
{{ page_bottom }}
<js-bottom-placeholder token="{{ placeholder_token }}">
</body>
</html>
