{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 *
 * @see template_preprocess_node()
 *
 * @ingroup themeable
 */
#}
{% set is_past_event = not is_future_event %}
{% set title = node.label %}
{% set summary = content.field_summary|field_value %}
{% set kicker = content.field_kicker|field_value %}
{% set youtube_id = content.field_youtube_id|field_value %}
{% set month = node.getCreatedTime|date('M') %}
{% set day = node.getCreatedTime|date('d') %}
{% set year = node.getCreatedTime|date('Y') %}
{% set unique_id = title|clean_unique_id %}

<article class="card card-event {% if is_past_event %} card-event--past
    {% endif %}card-linked" aria-labelledby="{{ unique_id }}">
  <div class="card-event__main">
    <div class="card-event__header">
      {% if kicker %}
        <div class="flex-align-end card-event__kicker">
          <span>{{ kicker }}</span>
        </div>
      {% endif %}
      <h2 class="card-event__title" id="{{ unique_id }}">
        <a href="{{ url }}" title="{{ title }}" rel="bookmark">{{ title }}</a>
      </h2>
    </div>

    <div class="card-event__body">
      {% if summary %}
        <div class="card-event__summary">
          {{ summary }}
        </div>
      {% else %}
        <div class="card-event__deck">{{ deck }}</div>
      {% endif %}

      {% if youtube_id %}
        <div class="card-event__watch-label">
          <svg class="usa-icon dg-icon dg-icon--large margin-bottom-05" aria-hidden="true" focusable="false">
            <use xlink:href="/{{ active_theme_path() }}/static/uswds/img/sprite.svg#youtube"></use>
          </svg>
          {{ 'Watch Video'|t }}
        </div>
      {% endif %}

      {% if is_past_event and content.field_authors|field_value %}
        {{ include('@digital_gov/partials/authors-list.html.twig', {
          inline: true,
          authors: content.field_authors|field_value,
        }, with_context: false) }}
      {% endif %}

    </div>
  </div>

  <div class="card-event__aside">
    <div class="card-event__date">
      <time class="card-event__datetime" datetime="{{ created|date('Y-m-d') }}">
        <span class="card-event__datetime-month">{{ month }}</span>
        <span class="card-event__datetime-day">{{ day }}
          <span class="card-event__datetime-comma">,</span>
        </span>
        <span class="card-event__datetime-year--mobile">{{ year }}</span>
      </time>

      {% if is_past_event %}
        <span class="card-event__date-label">
          <span class="card-event__datetime-year">{{ year }}</span>
        </span>
      {% else %}
        <a aria-label="Register for {{ title }}" class="card-event__cta" href="{{ content.field_registration_url|field_value }}">{{ 'Register'|t }}
          <time class="card-event__datetime--mobile" datetime="{{ start_date }}">
            <span>{{ 'for'|t }}</span>
            <span class="card-event__datetime-month">{{ month }}</span>
            <span class="card-event__datetime-day">{{ day }}</span>
          </time>
        </a>
      {% endif %}
    </div>
  </div>
</article>
