{% set title = node.label %}
{% set summary = content.field_summary|field_value %}
{% set deck = content.field_deck|field_value %}
{% set kicker = content.field_kicker|field_value %}
{% set youtube_id = content.field_youtube_id|field_value %}
{% set registration_url = content.field_registration_url|render|trim %}
{% set external_link = content.field_external_url.0['#title'] %}
{# {% set logo = content.field_primary_image.0['#media']|file_uri|image_style('large') %} #}

<article class="card card-news--external" aria-labelledby="{{ title }}">
  <div class="card__content">
    <div class="card__summary">
      <h3 id="{{ title }}">
        <a href="{{ external_link }}">{{ title }}</a><a>
      </a>
      </h3>
          {% if deck %}
        <p>
        {{ deck }}
        {% else %}
        {{ summary }}
          {# todo: update to take in source name #}
          {# {% if sourcePage %} #}
            <em class="card__source source"> — via
            <a href="{{ external_link }}" title="Read at {{ sourceName }}">{{ sourceName }}</a>
          </em>
        {# {% endif %} #}
      </p>
        {% endif %}
    </div>
  </div>
<div class="card__media">
  {% if logo %}
    <img src="{{ logo }}" alt="{{ title }} logo"/>
    {% else %}
  {# {{/* Otherwise, use the Favicon that Google stores for the site. */}} #}
  {# <img src="https://www.google.com/s2/favicons?domain={{ title }}.gov" alt="{{ title }} logo"/> #}
{% endif %}
</div>

  <div class="card__meta">
    <div class="date">{{ created }}
    </div>
  </div>
</article>
