{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 *
 * @see template_preprocess_node()
 *
 * @ingroup themeable
 */
#}

{# where does community list come from? #}
{% set community_list = true %}

<main role="main" id="main-content" class="event">
  <article class="grid-container-desktop">

    {{ drupal_entity('block', 'digital_gov_breadcrumbs') }}

    <header>
      {# @TODO kicker and deck fields can contain HTML tags but use the plain text filter... #}
      {{ include('@digital_gov/partials/page-header.html.twig', {
        title: node.title.value,
        kicker: node.field_kicker.value,
        deck: node.field_deck.value,
      }, with_context: false) }}

      <p class="datetime">
        <svg
          class="usa-icon dg-icon dg-icon--standard margin-bottom-05"
          aria-hidden="true"
          focusable="false"
        >
          <use
            xlink:href="/{{ active_theme_path() }}/static/uswds/img/sprite.svg#calendar_today"
          ></use>
        </svg>

        {{ node.getCreatedTime|format_date('digital_gov_date') }}
        <span>{{ node.getCreatedTime|format_date('digital_gov_time') }}
          {% if content.field_end_date|field_value %}
            – {{ content.field_end_date|field_value }}
          {% endif %}
          {{ 'now'|date('T') }}
      </span>
      </p>
      {% if (node.field_host.value) %}
        <p class="host">Hosted by Digital.gov and the {{ node.field_host.value }}</p>
      {% endif %}

    </header>
    {# EVENT Actions — REGISTER and Add to Calendar #}
    {% if is_future_event and content.field_registration_url|field_value %}
      <div class="dg-register">
        {{ _self.registration_link(content) }}
      </div>
    {% endif %}

    {# EVENT Stages — Depending on the type of event, different "event stages" appear on the page. / #}
    {% if is_future_event and node.field_event_platform.value == 'youtube_live' %}
      {{ include('@digital_gov/partials/events/stage-youtube-live.html.twig', {
        youtube_id: node.field_youtube_id.value,
        youtube_title: node.label,
        captions: node.field_captions.0.uri,
      }, with_context: false) }}
    {% endif %}

    {% if not is_future_event and node.field_youtube_id.value %}
      {{ include('@digital_gov/partials/events/stage-youtube.html.twig', {
        youtube_id: node.field_youtube_id.value,
        youtube_title: node.label,
      }, with_context: false) }}
    {% endif %}

    <section class="grid-row tablet-lg:grid-gap-4">
      <div class="grid-col-12 tablet:grid-col-9">
        {# ZOOM Stage #}
        {% if is_future_event and node.field_event_platform.value == 'zoom' %}
          {{ include('@digital_gov/partials/events/stage-zoom.html.twig', {
            youtube_id: node.field_youtube_id.value,
            youtube_title: node.label,
            captions: node.field_captions.0.uri,
          }, with_context: false) }}
        {% endif %}

        {# Main Content #}
        <div class="content usa-prose">
          {{ content.body|field_value }}
        </div>

        {# Touchpoints Form #}
        {{ include('@digital_gov/partials/touchpoints-form.html.twig') }}
      </div>

      <div class="dg-sidebar grid-col-12 tablet:grid-col-3">
        {# Authors #}
        {% if content.field_authors|field_value %}
          <h4>In this talk</h4>
          {{ include('@digital_gov/partials/authors-list.html.twig', {
            inline: false,
            authors: content.field_authors|field_value,
          }, with_context: false) }}
        {% endif %}

        {% if node.field_event_platform.value == 'youtube_live' and is_future_event and content.field_registration_url|field_value %}
          <div class="actions actions-stacked">
            {# Register #}
            {{ _self.registration_link(content) }}
          </div>
        {% endif %}

        {# Display Primary Communities #}
        {{ include('@digital_gov/partials/primary-communities.html.twig') }}

        {# partial "core/primary-communities.html" . #}

        {# Topics #}
        {{ content.field_topics }}

        {# Share Tools #}
        {{ include('@digital_gov/partials/get-sharetools.html.twig', {
          share_path: url,
          mailto_subject: node.label,
        }, with_context: false) }}

      </div>
    </section>
  </article>

</main>
{% macro registration_link(content) %}
  <a
    aria-label="Register for {{ content.label }}"
    class="btn btn-register"
    href="{{ content.field_registration_url|field_value }}"
    onclick="__gaTracker('send', 'event', 'outbound-article', '{{ content.field_registration_url|field_value }}', '{{ 'REGISTER NOW'|t }}');"
  >{{ 'Register'|t }}</a
  >
{% endmacro %}
