{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 *
 * @see template_preprocess_node()
 *
 * @ingroup themeable
 */
#}

<main role="main" id="main-content" aria-label="{{ 'Content'|t }}">
  <section class="usa-section" id="resources_featured">
    <div class="tablet-lg:grid-container tablet-lg:grid-container-desktop">
      <div class="grid-row tablet-lg:grid-gap-4">
        <div class="grid-col-12 tablet-lg:grid-col-4">
          <div class="box">
            <h1 class="resources-featured__title">
              {{ node.title.value }}
            </h1>
            {% set links = content.field_buttons|field_value %}
            {% for link in links %}
              <a class="btn btn-home" href="{{ link['#url'] }}" title="{{ link['#title'] }}">
                <span>{{ link['#title'] }}</span>
                <svg class="usa-icon dg-icon dg-icon--standard margin-bottom-05" aria-hidden="true" focusable="false" role="img">
                  <use xlink:href="/{{ active_theme_path() }}/static/uswds/img/sprite.svg#arrow_forward"></use>
                </svg>
              </a>
            {% endfor %}
          </div>
        </div>
        <div class="grid-col-12 tablet-lg:grid-col-8">
          <div class="resources-content">
            {# Load featured resources data from a view. #}
            {% set featured_resources = drupal_view_result('featured_resources', 'homepage') %}

            {# Process and generate resource_list data from the featured_resources. #}
            {% set resource_list = [] %}
            {% for resource in featured_resources %}
              {% set item = resource._entity %}
              {% set summary = item.field_summary.value|default(item.field_deck.value) %}
              {% set resource_list = resource_list|merge([{
                link: path('entity.node.canonical', {node: item.id()}),
                title: item.label,
                summary: summary ? summary|check_markup('single_inline_html'),
              }]) %}
            {% endfor %}

            {# Render the featured resources component. #}
            {{ include('@digital_gov/partials/featured-collection.html.twig', {
              heading: 'How to implement 21st Century IDEA'|t,
              list: resource_list,
            }) }}
            <footer>
              <div class="grid-row tablet-lg:grid-gap-2">
                <div class="grid-col-12">
                  <p class="dg-more-link">
                    <a href="/topics/digital-service-delivery">
                      <span>{{ 'Deliver better digital services'|t }}</span>
                      <svg class="usa-icon dg-icon dg-icon--standard margin-bottom-05" aria-hidden="true" focusable="false">
                        <use xlink:href="/{{ active_theme_path() }}/static/uswds/img/sprite.svg#arrow_forward"></use>
                      </svg>
                    </a>
                  </p>
                </div>
              </div>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </section>

  {# Digital.gov Communities of Practice #}
  {% set featured_communities = drupal_view_result('featured_communities', 'default') %}
  {% set communities_landing = drupal_view_result('landing_page', 'default', 'communities') %}
  {% if communities_landing|length and featured_communities|length %}
    {% set landing = communities_landing.0._entity %}
    <section class="grid-container-desktop usa-section">
      {{ include('@digital_gov/partials/featured-communities.html.twig', {
        heading: landing.title.value,
        deck: landing.field_deck.value ? landing.field_deck.value|check_markup('single_inline_html'),
        communities: featured_communities,
        display: 'usa_card_community_no_icon',
      }) }}
    </section>
  {% endif %}

  {# Digital.gov News & Events #}
  {# Get news posts, recent events and future events. #}
  {% set homepage_news_events = drupal_view_result('news_and_events', 'homepage_news_events') %}
  {% set homepage_future_events = drupal_view_result('news_and_events', 'homepage_future_events') %}

  {# Create new combined arrays. #}
  {% set news_and_events = [] %}

  {# Add processed news posts to the combined array. #}
  {% for post in homepage_news_events %}
    {# Insert 1st future event at the 3rd position. #}
    {% if loop.index == 3 and homepage_future_events.0 %}
      {% set news_and_events = news_and_events|merge([
        drupal_entity('node', homepage_future_events.0.nid, 'teaser'),
      ]) %}
    {% endif %}

    {# Insert 2nd future event at the 9th position. #}
    {% if loop.index == 8 and homepage_future_events.1 %}
      {% set news_and_events = news_and_events|merge([
        drupal_entity('node', homepage_future_events.1.nid, 'teaser'),
      ]) %}
    {% endif %}

    {% if loop.index <= 10 - homepage_future_events|length %}
      {% set news_and_events = news_and_events|merge([
        drupal_entity('node', post.nid, 'teaser'),
      ]) %}
    {% endif %}
  {% endfor %}

  {{ include('@digital_gov/partials/home/news-featured.html.twig', {
    heading: 'News and Events'|t,
    deck: 'Innovative work, news, and ideas from people and teams in government'|t,
    list: news_and_events,
    link: '/join',
    link_text: 'Write for us'|t,
    aria_label: 'Featured news and events'|t,
  }) }}
</main>
