{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 *
 * @see template_preprocess_node()
 *
 * @ingroup themeable
 */
#}

<main role="main" id="main-content">
  <div class="grid-container-desktop">
    {{ drupal_entity('block', 'digital_gov_breadcrumbs') }}
  </div>

  {# Default & Collection Header #}
  <header class="grid-container-desktop">
    <h1
      class="{{ node.field_legislation.0 ? 'dg-topic__header-title--collection' : 'dg-topic__header-title' }}"
    >
      {{ label|field_value }}
    </h1>

    {# Deck #}
    {% if content.field_deck|render %}
      <p class="dg-topic__deck margin-0">
        {{ content.field_deck|field_value }}
      </p>
    {% endif %}
  </header>

  {# Collection — Summary & Legislation #}
  {% if node.field_summary or node.field_legislation %}
    {% if is_first_page %}
      <div class="grid-container-desktop margin-top-2">
        <div class="grid-row desktop:grid-gap-4">
          <div class="desktop:grid-col margin-bottom-4">
            {{ content.field_summary }}
          </div>
          <div class="desktop:grid-col">
            {% if content.field_legislation|render %}
              {{ include('@digital_gov/partials/card-legislation.html.twig', {
                title: node.field_legislation.0.title,
                url: node.field_legislation.0.url,
              }, with_context: false) }}
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
  {% endif %}
  {# Collection — Featured Resources and Communities #}
  {% if content.field_featured_resources|field_value or content.field_featured_communities|field_value %}
    {% if is_first_page %}
      <div class="dg-topic__featured grid-container-desktop">
        {{ content.field_featured_resources|field_value }}
        {{ content.field_featured_communities|field_value }}
      </div>
    {% endif %}
  {% endif %}

  {# Collection Featured Links #}
  {% if content.field_featured_links|field_value %}
    {% if is_first_page %}
      {{ content.field_featured_links|field_value }}
    {% endif %}
  {% else %}
    {# Only show these sections when on page 1, otherwise hide to show only More News and Events #}
    {% if is_first_page %}
      {# Default - Related resources, services, and communities #}
      <div class="grid-container-desktop usa-section">
        {% if drupal_view_result('resources_for_topic', 'default', node.nid.value) is not empty %}
          <div class="dg-collection">
            <h2 class="dg-collection__header">Resources on {{ node.label }}</h2>
            {{ drupal_view('resources_for_topic', 'default', node.nid.value) }}
          </div>
        {% endif %}

        {# NOT-MIGRATED #}
        {# WILL NOT MIGRATE THIS, SERVICES DO NOT EXIST ANY MORE #}
        {# $services_settings := ( dict "header_title" "Tools and Services" "header_size" 2 "variant" "media" "list_header" 3) #}
        {# partial "partials/core/collection/collection.html" (dict "collection_data" $services "settings" $services_settings) #}

        {% if drupal_view_result('communities_for_topic', 'default', node.nid.value) is not empty %}
          <div class="dg-collection">
            <h2 class="dg-collection__header">Join a Community of Practice</h2>
            {{ drupal_view('communities_for_topic', 'default', node.nid.value) }}
          </div>
        {% endif %}
      </div>
    {% endif %}
  {% endif %}

  {# Featured Events & News #}
  {% if (drupal_view_result('topic_events', 'block_1') is not empty) or (drupal_view_result('topic_news', 'block_1') is not empty) %}
    {% if is_first_page %}
      <section class="dg-stream usa-section">

        {# Featured Events #}
        {# Display first 5 events #}
        {% if drupal_view_result('topic_events', 'block_1') is not empty %}
          <div class="grid-container-desktop">
              <h2>{{ node.title.value }} events</h2>
              {{ drupal_view('topic_events', 'block_1') }}
          </div>
        {% endif %}

        {# Featured News #}
        {# Display first 5 news posts #}
        {% if drupal_view_result('topic_news', 'block_1') is not empty %}
          <div class="grid-container-desktop">
              <h2>{{ node.title.value }} news</h2>
              {{ drupal_view('topic_news', 'block_1') }}
          </div>
        {% endif %}

      </section>
    {% endif %}
  {% endif %}

  {# Remaining Resources #}
  {% if node.field_legislation.0 %}
    {# Display remaining resources, events and news for topic collection #}
    {% if is_first_page %}
      {# Shows all resources tagged to this topic, may repeat resources shown under featured resource. #}
      {% if drupal_view_result('resources_for_topic', 'default', node.nid.value) is not empty %}
        <section class="grid-container-desktop usa-section">
          <div class="dg-collection">
            <h2 class="dg-collection__header">Resources on {{ node.label }}</h2>
            {{ drupal_view('resources_for_topic', 'default', node.nid.value) }}
          </div>
        </section>
      {% endif %}
    {% endif %}
  {% endif %}
  {# More News and Events on #}
  {% if drupal_view_result('topic_news_and_events', 'block_1') is not empty %}
    <div class="usa-section usa-section--light">
      <div class="grid-container grid-container-desktop">
        <h2 id="dg-stream-pagination-header">
          More News and Events on {{ node.title.value }}
        </h2>
        {{ drupal_view('topic_news_and_events', 'block_1') }}
      </div>
    </div>
  {% endif %}
</main>
