{% set is_past_event = end_date < now ? true : false %}
{% set title = node.label %}
{% set summary = content.field_summary|field_value %}
{% set kicker = content.field_kicker|field_value %}
{% set youtube_id = content.field_youtube_id|field_value %}
{% set registration_url = content.field_registration_url|render|trim %}
{% set month = content.field_start_date.value|date('M') %}
{% set day = content.field_start_date.value|date('d') %}
{% set year = content.field_start_date.value|date('Y') %}

<article class="card-news--external" aria-labelledby="{{ title }}">
  <div class="card__content">
    <div class="card__summary">
      <h3 id="{{ title }}">
        {# todo: update once ext link file is added to shortpost #}
        {# <a href="{{- $externalLink -}}">{{- $title | markdownify -}}</a> #}<a>
        {{ title }}
      </a>
      </h3>
        <p>
          {% if deck %}
        {{ deck }}
        {% endif %}
          {# todo: update once ext link file is added to shortpost #}
          {# {% if sourcePage %}
            <em class="card__source source"> — via
            <a href="{{ $externalLink }}" title="Read at {{ sourceName }}">{{ sourceName }}</a>
          </em>
        {% endif %} #}
      </p>
    </div>
  </div>
  <div class="card__meta">
    <div class="date">{{ date }}
    </div>
  </div>
</article>
