{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 *
 * @see template_preprocess_node()
 *
 * @ingroup themeable
 */
#}
<main role="main" id="main-content">
  <div class="grid-container-desktop">
    <div class="grid-row">
      <div class="grid-col-12">
        <header class="page-head page-head-job-board">
          <h1>{{ node.title.value }}</h1>

          {% if content.field_deck %}
            <h2 class="deck">{{ content.field_deck|field_value }}</h2>
          {% endif %}

          <br />
        </header>
      </div>
    </div>
  </div>

  <section class="stream">
    <div class="grid-container-desktop">
      {{ dpm(job_board_administration) }}

  {% for item in job_board_administration %}
   <article class="card card-job" aria-labelledby="{{ item.title }}">
      <div class="card-job__content-header">
         <a href="{{ item.apply_link }}" target="__blank">
             <h3 id="{{ item.title }}">{{ item.title }}</h3>
         </a>
      </div>
      <div class="card-job__content-summary">
        <div class="card-job__department">
          {{ item.department }}
        </div>
        <div class="card-job__location">
          {{ item.location }}
        </div>
        <p class="card-job__description">
          {{ item.description }}
        </p>
      </div>
      <div
          class="card-job__apply"
          aria-labelledby="Apply for {{ item.title }}"
        >
          <a class="usa-button" href="{{ item.apply_link }}" target="__blank">
            Apply
          </a>
        </div>
        <div class="card-job__meta-date">
          Open {{ item.open_date }} to
          {{ item.close_date }}
        </div>
        <div class="card-job__meta-topics">
        {% for topic in item['cop_topics'] %} 
        {# todo: these are color coded. #}
          <div class="cop-topic--{{ 'FCN' }}">{{ topic }}</div>
          {{ end }}
        {% endfor %}
         </div>
    </article>

  {% endfor %}
      
      {# NOT-MIGRATED
      {{ range .Site.Data.job_board }}
      {{ if ge .close_date $now }}
      {{ $anyActivePost = true }}
      {{ $jobLink := .apply_link | safeURL }}
      <article class="card card-job" aria-labelledby="{{ .title }}">
        <div class="card-job__content-header">
          <a href="{{ $jobLink }}" target="__blank"
          ><h3 id="{{ .title }}">{{- .title | markdownify -}}</h3></a
          >
        </div>
        <div class="card-job__content-summary">
          <div class="card-job__department">
            {{ .department | markdownify }}
          </div>
          <div class="card-job__location">
            {{ .location | markdownify }}
          </div>
          <p class="card-job__description">
            {{ .description | markdownify }}
          </p>
        </div>
        <div
          class="card-job__apply"
          aria-labelledby="Apply for {{ .title }}"
        >
          <a class="usa-button" href="{{ $jobLink }}" target="__blank">
            Apply
          </a>
        </div>
        <div class="card-job__meta-date">
          Open {{ .open_date | time.Format ":date_long" }} to
          {{ .close_date | time.Format ":date_long" }}
        </div>
        <div class="card-job__meta-topics">
          {{ range .cop_topics }}
          {{ $topic := . }}
          {{ $acronym := index $acronymToCop $topic }}
          <div class="cop-topic--{{ $acronym }}">
            {{- $topic -}}
          </div>
          {{ end }}
        </div>
      </article>
      {{ end }}
      {{ end }}


      {{ if not $anyActivePost }}
      <div id="no_job_postings">
        There are no active job postings at the moment. Please check back
        another time.
      </div>
      {{ end }}
      #}
    </div>
    {#- partial "core/pagination.html" . -#}
  </section>
</main>
